{% extends "base.html" %}
{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-15 mx-auto ">
      <div class="lg:w-4/5 mx-auto flex flex-wrap justify-center">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">LEAD</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ lead.first_name}} {{ lead.last_name }}</h1>
          <div class="flex mb-4">
            <a href="{% url 'leads:lead_detail' lead.pk %}" class="flex-grow text-yellow-500 border-b-2 border-yellow-500 py-2 text-lg px-1">Overview</a>
            <a href="{% url 'leads:lead_category_update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Category</a>
            <a href="{% url 'leads:lead_update' lead.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Update</a>
          </div>
          <p class="leading-relaxed mb-4">{{ lead.description }}</p>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">Age</span>
            <span class="ml-auto text-gray-900">{{ lead.age }}</span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">Email</span>
            <span class="ml-auto text-gray-900">{{ lead.email }}</span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-200 py-2">
            <span class="text-gray-500">Cell Phone</span>
            <span class="ml-auto text-gray-900">{{ lead.phone_number }}</span>
          </div>
          <div class="flex">
            <a href="{% url 'leads:lead_list' %}"><button class="flex ml-auto text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded">Lead List</button></a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

