{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{% static 'images/banner.png' %}">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">ForceSales CRM</h1>
        <p class="mb-8 leading-relaxed">Manage Leads and Force some Sales</p>
        <div class="flex justify-center">
          <a href="{% url 'login' %}"><button class="inline-flex text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg">
            {% if user.is_authenticated %}
              Leads List
            {% else %}
              Login
            {% endif %}
          </button></a>
          <a href="{% url 'about' %}"><button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">About</button></a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}